---
import Header from '../header_footer/header.astro'
import Footer from '../header_footer/footer.astro'



import Card from '../components/Card.astro';

const datos = await fetch('https://kriskraft.eu/datos.json').then((response) =>
  response.json()
);


---


<Header/>



		<div class = "bg-white rounded-xl mx-auto  flex-col grid  md:grid-cols-3 lg:grid-cols-4 max-w-lg sm:grid-cols-2 grid-flow-row gap-8 sm:max-w2xl md:max-w-3xl lg:max-w-6xl p-6 my-8 justify-items-center">

			
				{datos.fichas.map((ficha: { titulo: any; imgurl: any; }) => ( 
					<Card titulo={ficha.titulo} imgurl={ficha.imgurl}/>
				))}
			
			
		</div>

		
		
<Footer/>