---
import Header from "../header_footer/header.astro";
import Footer from "../header_footer/footer.astro";

import Card from "../components/Card.astro";

const datos = await fetch("http://192.168.0.23:8000/showapi").then((response) => response.json(),);
---

<Header />

<h1 class="mt-20 text-center text-5xl hover:blur-sm">Galería</h1>

<div
    class="sm:max-w2xl mx-auto my-8 grid max-w-lg grid-flow-row flex-col justify-items-center gap-8 rounded-xl bg-white p-6 sm:grid-cols-2 md:max-w-3xl md:grid-cols-3 lg:max-w-6xl lg:grid-cols-4"
>
    {
        datos.map(
            (ficha: { titulo: any; imagen: any; id: any; precio: any }) => (
                <Card
                    id={ficha.id}
                    titulo={ficha.titulo}
                    precio={ficha.precio}
                    imagen={ficha.imagen}
                    prefijo="http://admin.kriskraft.eu/"
                />
            ),
        )
    }
</div>

<Footer />
