---
import Card from '../components/card.astro';

const fichas = await fetch('https://kriskraft.eu/datos.json').then((response) =>
  response.json()
);

console.log(fichas);
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="./output.css" />

		<title>KRISKRAFT</title>

	</head>
	<body>

		<h1 class="text-blue-900 text-center text-3xl my-10">Bienvenido a KrisKraft</h1> 

		<div>
			 
			
				{fichas.posts.map(dato => ( 
					<Card title={dato.title} author={dato.author}/>
				))}
			
			
		</div>
		
	</body>
</html>