<div class="mb-20 max-w-xl text-base leading-7 text-gray-700 lg:max-w-3xl mx-auto grid grid-cols-1">
    <h2 class="mt-16 mb-10 text-2xl font-bold tracking-tight text-gray-900 text-center">Beneficios</h2>
    <ol class="p-12 text-justify bg-gradient-to-r from-blue-100 to-lime-100 rounded-3xl">
      <li class="mb-5"><strong>Reduces el estrés</strong>, al realizar una actividad diferente de tu rutina diaria</li>
      <li class="mb-5"><strong>Te ayuda a la concentración</strong> mientras sigues un patrón o idea, conectas con lo que haces y desconectas de las preocupaciones.</li>
      <li class="mb-5"><strong>Aumentas tu autoestima</strong> cuando ves de lo que eres capaz y el orgullo que se siente.</li>
      <li class="mb-5"><strong>Permite momentos de relajación</strong>, al ser algo repetitivo es casi una forma de meditación.</li>
      <li class="mb-5"><strong>Reduces tus niveles de ansiedad</strong>, bajas la presión arterial y los músculos se relajan. Tu cerebro queda tranquilo y se centra en esta actividad tan placentera.</li>
      <li class="mb-5"><strong>Aumentas tu creatividad</strong>, un cerebro relajado es más creativo. No pensar en problemas deja espacio para crear cosas nuevas.</li>
      <li class="mb-5"><strong>Te ayuda a focalizar</strong>, disfrutar del momento, vivir el aquí y ahora.</li>
      </ol>
  </div>