---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="bg-red-400">
	<a href={href}>
		<h2 class="text-red-600 text-center">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="text-rose-500, text-center">
			{body}
		</p>
	</a>
</li>

