---

const { titulo, imgurl} = Astro.props;

---


    <div class="rounded-3xl text-gray-300 bg-red-700 text-center max-w-lg">

        <img class="rounded-3xl p-2" src={imgurl}>
        
            <h1>{titulo}</h1>
  
    </div>

