---

const { titulo, imgurl} = Astro.props;

---


    <div class="rounded-xl text-black  text-center max-w-lg">

        <img class="rounded-xl p-2" src={imgurl}>
        
            <h1 class="px-2">{titulo}</h1>
  
    </div>

