---

const { title, author} = Astro.props;

---


    <div class="text-gray-300 text-center grow justify-center">
        <h1 class="m-5 bg-blue-900 rounded-lg p-2">
            {title} by {author}
        </h1>	
    </div>

