---

const { titulo, imgurl} = Astro.props;

---


    <div class="rounded-md text-gray-300 bg-blue-900 text-center max-w-sm">

        <img class="rounded-md" src={imgurl}>
        
            <h1>{titulo}</h1>
  
    </div>

