<div class="bg-cover bg-[url('https://kriskraft.eu/fondohero.jpg')] max-w-screen h-screen p-0">
  
    <div class="relative isolate pt-14 mt-16 lg:px-8">
      
      <img class="m-auto max-w-2xl" src="logo.svg"></img>

      <div class="mx-auto max-w-2xl py-12 sm:py-12 lg:py-12">
        
        <div class="text-center">
          <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Unas cuantas cuerdas para animar tu vida</h1>
          <p class="mt-20 text-2xl font-bold leading-8 text-black">Una técnica facil que da unos resultados asombrosos. El limite es solo tu imaginación, desde formatos de pequeño tamaño hasta trabajos de gran formato con diferentes materiales y colores</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/galeria" class="transition ease-in delay-100 duration-300 animate-pulse rounded-md bg-black text-lg p-2 font-semibold text-white hover:bg-pink-100 hover:text-black hover:animate-bounce">Galería</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  