<div class="bg-cover bg-[url('https://kriskraft.eu/fondohero.jpg')] max-w-full p-0">
  
    <div class="relative isolate pt-14 mt-16 lg:px-8">
      
      <img class="m-auto max-w-2xl" src="logo.svg"></img>

      <div class="mx-auto max-w-2xl py-12 sm:py-12 lg:py-12">
        
        <div class="text-center">
          <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Unas cuantas cuerdas para animar tu vida</h1>
          <p class="mt-20 text-lg leading-8 text-gray-600">Una técnica facil que da unos resultados asombrosos. El limite es solo tu imaginación, desde formatos de pequeño tamaño hasta trabajos de gran formato con diferentes materiales y colores</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/galeria" class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-100 hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Galería</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  