---

---


<nav class="bg-black fixed top-0 left-0 right-0 z-50 opacity-80">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          
          
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="transition ease-in delay-100 duration-300  border-2 hover:bg-pink-100 border-white text-white hover:text-black rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Inicio</a>
              <a href="/galeria" class="transition ease-in delay-100 duration-300 text-white hover:bg-pink-100 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Galería</a>
              <a href="/proyectos" class="transition ease-in delay-100 duration-300 text-white hover:bg-pink-100 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Proyectos</a>
              <a href="/blog" class="text-white hover:bg-pink-100 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Blog</a>
            </div>
          </div>
        </div>
    
             
  </nav>
  